@import "./colors";
@import "./fonts";

/* make the customizations */
$theme-colors: (
  "primary": $highlight,
  "secondary": $primary,
  "success": $green,
  "info": $blue,
  "danger": $pink,
  "warning": $orange,
  "dark": $dark,
  "light": $light,
  "pink": $pink,
);

@import "~bootstrap/scss/bootstrap";

p {
  color: $light;
}

h1,
h2,
h3,
h4,
h5 {
  color: $white;
}

body {
  background-color: $primary;
}

.btn {
  color: $white;
  font-family: "Nineteen Ninety Seven";
  border-width: 1px;
}

.btn.neon-highlight {
  border: 1px solid $highlight;
  box-sizing: border-box;
  box-shadow: 0px 0px 39px -6px rgba(164, 64, 242, 0.4);
  border-radius: 2px;
}
.btn.neon-orange {
  border: 1px solid $orange;
  box-sizing: border-box;
  box-shadow: 0px 0px 39px -6px rgba(242, 128, 64, 0.2);
  border-radius: 2px;
}
.btn.neon-blue {
  box-shadow: 0px 0px 39px -6px $blue;
}

.btn.neon-green {
  text-shadow: 0px 4px 13px rgba(32, 221, 153, 0.43);
}

.btn.neon-pink {
  border: 1px solid $pink;
  box-sizing: border-box;
  box-shadow: 0px 6px 39px -6px rgba(241, 36, 255, 0.4);
}

.number.neon-highlight {
  text-shadow: 0px 4px 13px $neon-highlight;
}
.number.neon-orange {
  text-shadow: 0px 4px 13px $orange;
}
.number.neon-blue {
  text-shadow: 0px 4px 13px rgb(6, 136, 255);
}

.number.neon-dark-blue {
  text-shadow: 0px 4px 13px rgb(38, 32, 251);
}

.number.neon-green {
  text-shadow: 0px 4px 13px $green;
}

.number.neon-yellow {
  text-shadow: 0px 4px 13px $yellow;
}

.number.neon-pink {
  -webkit-text-shadow: 3px 3px 15px $pink;
  text-shadow: 3px 3px 15px $pink;
}

.card {
  background-color: $darker;
}
//Same width as sidebar
.wrapper {
  padding-left: 5rem;
}
.wrapper::before {
  background-image: url("../assets/images/liquid.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  position: absolute;
  z-index: -1;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  content: "";
}

body,
#root,
html,
.wrapper {
  height: 100%;
}
