@import "./colors";
@import "./fonts";

/* make the customizations */
$theme-colors: (
  "primary": $highlight,
  "secondary": $primary,
  "success": $green,
  "info": $blue,
  "danger": $pink,
  "warning": $orange,
  "dark": $dark,
  "light": $light,
  "pink": $pink,
);

@import "~bootstrap/scss/bootstrap";

p {
  color: $light;
}

h1,
h2,
h3,
h4,
h5 {
  color: $white;
}

body {
  background-color: $primary;
}

.avatar {
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.blockie{
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

.alert {
  background-color: $purple;
  color: $white;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.btn {
  color: $white;
  font-family: "Nineteen Ninety Seven";
  border-width: 1px;
}

.btn.neon-highlight {
  border: 1px solid $highlight;
  box-sizing: border-box;
  box-shadow: 0px 0px 39px -6px rgba(164, 64, 242, 0.4);
  border-radius: 2px;
}
.btn.neon-orange {
  border: 1px solid $orange;
  box-sizing: border-box;
  box-shadow: 0px 0px 39px -6px rgba(242, 128, 64, 0.4);
  border-radius: 2px;
}

.input-group .btn.neon-orange {
  border: 1px solid $orange;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(242, 128, 64, 0.3), 0px 4px 14px rgba(246, 109, 30, 0.2);
}

.btn.neon-blue {
  border: 1px solid $blue;
  box-sizing: border-box;
  box-shadow: 0px 0px 39px -6px $blue;
}

.btn.neon-green {
  border: 1px solid $green;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(63, 217, 180, 0.3), 0px 4px 14px rgba(112, 235, 183, 0.2);
}

.btn.neon-pink {
  border: 1px solid $pink;
  box-sizing: border-box;
  box-shadow: 0px 6px 39px -6px rgba(241, 36, 255, 0.4);
}

.number.neon-highlight {
  text-shadow: 0px 4px 13px $neon-highlight;
}
.number.neon-orange,
.danger {
  text-shadow: 0px 4px 13px $orange;
}

.number.error {
  text-shadow: 0px 4px 13px red;
}
.number.neon-blue,
.safe {
  text-shadow: 0px 4px 13px rgb(6, 136, 255);
}

.number.neon-dark-blue {
  text-shadow: 0px 4px 13px rgb(38, 32, 251);
}

.number.neon-green {
  text-shadow: 0px 4px 13px $green;
}

.number.neon-yellow,
.warning {
  text-shadow: 0px 4px 13px $yellow;
}

.number.neon-pink {
  -webkit-text-shadow: 3px 3px 15px $pink;
  text-shadow: 3px 3px 15px $pink;
}

.fire {
  text-shadow: 0px -0px 4px $purple, 0px -0px 10px $yellow, 0px -0px 20px $orange,
    0px -10px 40px #c33;
  font-size: 15px;
  animation: fire 2s infinite alternate;
  color: $white !important;
}

@keyframes fire {
  80% {
    text-shadow: 0px -2px 8px $purple, 0px -2px 10px $yellow, 0px -5px 20px $orange,
      0px -20px 40px #c33;
  }
  100% {
    text-shadow: 0px -2px 4px $purple, 0px -2px 10px $yellow, 0px -5px 20px $orange,
      0px -20px 40px #c33;
  }
}

.table thead th {
  border-top: 2px solid $highlight;
  border-bottom: 2px solid $highlight;
}

.table th,
.table td {
  border-top: 1px solid $highlight;
}

.table-hover tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.175);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="text"],
input[type="number"],
input[type="file"] {
  border-radius: 1px;
  background: no-repeat;
  border-color: $dark;
  color: $white;
  height: 3.375rem;
}

input[type="text"].neon-green:focus,
input[type="number"].neon-green:focus {
  border-color: $green !important;
  box-shadow: -1px 0px 15px -6px $green;
  background: no-repeat;
  color: $white;
}

input[type="text"].neon-orange:focus,
input[type="number"].neon-orange:focus {
  border-color: $orange !important;
  box-shadow: -1px 0px 15px -6px $orange;
  color: $white;
  background: no-repeat;
}
input[type="text"].neon-hightlight:focus,
input[type="number"].neon-hightlight:focus {
  border-color: $highlight !important;
  box-shadow: -1px 0px 15px -6px $highlight;
  color: $white;
  background: no-repeat;
}

textarea.neon-green:focus {
  border-color: $green !important;
  box-shadow: -1px 0px 15px -6px $green;
  background: no-repeat;
  color: $white;
}

.card {
  background-color: $darker;
}
.custom-file {
  label {
    background: no-repeat;
    border-radius: 1px;  
    border-color: $dark;
    color: $white; 
    font-size: 1rem;
    font-weight: 400;
    font-family: inherit;
    letter-spacing: 0.3rem;
  }
}
//Same width as sidebar
.wrapper {
  padding-left: 5rem;
  overflow: overlay;
}
.wrapper::before {
  background-image: url("../assets/images/liquid.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  position: absolute;
  z-index: -1;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  content: "";
}

body,
#root,
html,
.wrapper {
  height: 100%;
}

.farm-tooltip > .tooltip-inner {
  max-width: 300px;
  width: 300px;
  text-align: left;
  padding: 0.8rem;
}

form {
  .field-error {
    color: $orange;
  }
}

#WEB3_CONNECT_MODAL_ID {
  .web3modal-provider-container {
    transition: background-color 0s ease-in-out 0s;
  }
  .web3modal-provider-wrapper {
    border-radius: 4px;

    &:hover {
      background: rgba(241, 36, 255, 0.24);
    }
  }

  .web3modal-modal-card {
    border-radius: 4px;
    box-shadow: 0px 0px 4px #f124ff, 0px 0px 34px rgba(241, 36, 255, 0.24);    
  }
  .web3modal-provider-name {
    font-family: "Nineteen Ninety Seven";
  }

  .web3modal-provider-description {
    font-family: "Space Mono";
  }
  @media (max-width: 770px) { 
    .web3modal-provider-wrapper:last-child {
      grid-row: 2;
    }
    .web3modal-provider-description {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  .wrapper {
    padding-left: 0rem;
  }
  .alert {
    margin-top: 4rem;
  }
}

