@import "./colors";
@import "./fonts";

div.faucet {
  padding: 1rem 3rem;
  padding-bottom: 0px;

  .btn {
    width: 13.4375rem;
    height: 3.875rem;
    border-radius: 1px;
    margin-top: 2rem;
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    .actions {
      margin-top: 2.5rem;
      display: grid;
      grid-template-columns: auto;
      margin-bottom: 4rem;
    }
    .card {
      margin-bottom: 2rem;
    }
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    // .token-price {
    //   margin-top: 0rem;
    // }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .actions {
      margin-top: 2.5rem;
      display: grid;
      grid-template-columns: 33% auto 33%;
      margin-bottom: 0rem;
      column-gap: 1rem;
    }

    .card {
      margin-bottom: 0rem;
    }
  }

  .info {
    border-bottom: 1px solid $dark;

    h4 {
      padding: 2rem;
      padding-bottom: 0;
    }
    p {
      padding: 2rem;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  form {
    padding: 2rem;

    label {
      font-family: "Nineteen Ninety Seven";
      color: $white;
    }

    .text-muted {
      text-align: right;
      font-size: 1rem;
    }

    input[type="text"] {
      border-radius: 1px;
      background: no-repeat;
      border-color: $dark;
      color: $white;
      height: 3.375rem;
    }

    .btn {
      margin-top: 2rem;
      border-radius: 1px;
      width: 100%;
      box-shadow: 0px 6px 25px -6px rgba(241, 36, 255, 0.4);
    }
  }

  @media (max-width: 600px) {
    padding: 4rem 1.4rem;

    .card {
      margin-top: 2rem;
    }
  }
}
