@import "./colors";
@import "./fonts";

.governance-dashboard {
  padding: 1rem 3rem;
  padding-bottom: 2rem;

  @media (max-width: 991px) {
    .token-price {
      margin-top: 2rem;
    }

    @media (min-width: 470px) {
      .col-md-3 {
        flex: 0 0 50%;
        max-width: 50%;
      }
    }
  }

  @media (min-width: 992px) {
    .token-price {
      margin-top: 0rem;
    }
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 0.875rem;
  }

  .data {
    margin-top: 2.5rem;
    svg {
      height: 2rem;
      margin-right: 0.5rem;
      margin-top: -5px;

      &.ctx-neon {
        filter: none;
      }
    }
  }

  .btn {
    background-color: $darker;
    width: 10rem;
    height: 3rem;
    margin-right: 30px;

    &.question {
      border-radius: 2px;
      width: 20px;
      height: 20px;
      margin-right: 0px;
      font-size: 10px;
      padding: 2px;
      margin-left: 5px;
    }
  }

  #connect {
    background-color: $pink;
    width: 15rem;
    height: 3rem;
    border-radius: 0;

    @media (max-width: 1450px) and (min-width: 992px) {
      width: 12rem;
    }
    @media (max-width: 1275px) and (min-width: 992px) {
      width: 10rem;
      height: 4rem;
    }
  }

  .card-wrapper {
    margin-top: 2rem;

    h2 {
      font-size: 1.375rem;
      margin-bottom: 1.5625rem;
    }

    h3 {
      font-size: 1rem;
    }

    p {
      font-size: 0.875;
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
      .use-tcap {
        margin-top: 2rem;
        margin-bottom: 4rem;
      }
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
      .use-tcap {
        margin-top: 0rem;
        margin-bottom: 0rem;
      }
    }

    .card {
      padding: 3.125rem 2.8125rem;
      min-height: 20.1875rem;

      .cls-1 {
        fill: $darker;
      }

      b {
        font-family: "Nineteen Ninety Seven";
        color: $purple;
      }

      .row {
        margin-top: 2.5rem;
      }

      &.balance {
        svg {
          height: 2rem;
          margin-right: 0.5rem;
          filter: drop-shadow(0px 4px 13px $dark-blue);

          &.ctx-neon {
            filter: none;
          }
        }
        .row {
          margin-top: 0rem;
        }

        h3 {
          display: flex;
          align-items: center;
        }

        p {
          margin-top: 1rem;
        }
      }

      .btn {
        background-color: $darker;
        border-radius: 1px;
        height: 3.375rem;
        width: 100%;
        margin-bottom: 0.8rem;
      }

      form {
        // padding: 2rem 2rem 0rem 2rem;
        margin-top: 1rem;

        label {
          font-family: "Nineteen Ninety Seven";
          color: $white;

          &.max {
            float: right;
            a {
              color: $green;

              &.orange {
                color: $orange;
              }
            }
          }
        }

        .text-muted {
          text-align: left;
          font-size: 1rem;
        }

        input[type="text"] {
          border-radius: 1px;
          background: no-repeat;
          border-color: $dark;
          color: $white;
          height: 3.375rem;
        }

        .btn {
          background-color: $darker;
          // width: 3.375rem;
          border-radius: 1px;
          height: 3.375rem;
          width: 100%;
        }

        .remove {
          margin-top: 3.5rem;
        }
      }

      &.diamond {
        p {
          width: 70%;
        }
        .btn {
          width: 11.0625rem;

          &.neon-green {
            box-shadow: 0px 0px 39px -6px rgba(63, 217, 180, 0.4);
          }
        }

        .table {
          color: $white;
          tr:hover {
            color: $white;
          }

          td {
            vertical-align: middle;
          }

          .btn {
            width: 80%;
            height: 2.5rem;
            padding: 0rem;

            &.question {
              border-radius: 2px;
              width: 20px;
              height: 20px;
              margin-right: 0px;
              font-size: 10px;
              padding: 2px;
              margin-left: 5px;
            }
          }
        }
      }
    }
  }

  .cryptkeeper-form {
    display: flex;
  }

  @media (max-height: 820px) and (min-width: 992px) {
    .card-wrapper {
      margin-top: 1rem;
      .card {
        padding: 2.125rem 2.8125rem;
      }
    }
  }

  @media (max-width: 1300px) {
    h2 {
      font-size: 1.3rem;
    }
  }

  @media (min-width: 991px) and (max-width: 1180px) {
    @media (max-width: 1100px) {
      padding: 1rem 1rem;
    }

    h2 {
      font-size: 1.1rem;
    }
    .card-wrapper {
      @media (max-height: 800px) {
        margin-top: 1.5rem;
      }
      .card {
        padding: 3.125rem 1.1125rem;
        @media (max-height: 800px) {
          padding: 2rem 1.1125rem;
        }
      }
    }
  }

  @media (max-width: 900px) {
    padding: 4rem 1.5rem;
    h2 {
      font-size: 1.3rem;
    }
    .card-wrapper {
      .card {
        overflow-x: scroll;
        margin-bottom: 3rem;
      }
    }
    @media (max-width: 640px) {
      h2 {
        font-size: 1.1rem;
      }
    }
  }

  @media (max-width: 490px) {
    h2 {
      font-size: 0.85rem;
    }
    .data {
      svg {
        height: 1.8rem;
        margin-right: 0.3rem;
      }
      .col-7 {
        padding-left: 6px;
        padding-right: 1px;
      }
      .col-5 {
        padding-left: 2px;
        padding-right: 0px;
      }
      .token-price.col-md-3.col-sm-6.col-7 {
        padding-right: 20px;
      }
    }
  }
}
