.graph {
  padding-bottom: 0px;

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 300px) {
    padding: 1rem 1rem;
    padding-bottom: 0px;

    .grid {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto auto;
      gap: 2rem;
      margin-bottom: 4rem;
    }

    h4 {
      font-size: 1rem;
      margin-top: 2rem;
      margin-bottom: 0;
    }

    h5 {
      margin-top: 0.75rem;
      font-size: 1rem;
      margin-bottom: 0;
    }

    .card {
      padding: 2rem;
    }
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    padding: 5rem 3rem;

    .grid {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto;
      gap: 2rem;
      margin-bottom: 4rem;
    }

    h4 {
      font-size: 1rem;
      margin-top: 2rem;
      margin-bottom: 0;
    }

    h5 {
      margin-top: 0.75rem;
      font-size: 1rem;
      margin-bottom: 0;
    }
    .card {
      padding: 2.2rem;

      @media (max-width: 750px) {
        padding: 1.8rem;
        h4 {
          font-size: 0.9rem;
        }
        h5 {
          font-size: 0.9rem;
        }
      }
      @media (max-width: 680px) {
        padding: 1.5rem;
        h4 {
          font-size: 0.8rem;
        }
        h5 {
          font-size: 0.8rem;
          margin-top: 0.5rem;
        }
      }
    }
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    padding: 5rem 2rem;

    .card {
      h4 {
        font-size: 1.25rem;
        margin-top: 2rem;
        margin-bottom: 0;
      }

      h5 {
        margin-top: 0.75rem;
        font-size: 1.3rem;
        margin-bottom: 0;
      }

      @media (max-width: 935px) {
        h4 {
          font-size: 1.2rem;
          margin-top: 1.7rem;
        }
        h5 {
          font-size: 1.25rem;
        }
      }
      @media (max-width: 830px) {
        padding: 2rem;
        h4 {
          font-size: 1.15rem;
        }
        h5 {
          font-size: 1.2rem;
        }
      }
    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    padding: 5rem 3rem;
    .grid {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto;
      gap: 2rem;
      margin-bottom: 0rem;
    }
    @media (max-height: 820px) {
      padding: 3rem 3rem;
    }
    @media (max-height: 680px) {
      padding: 2rem 3rem;
      .grid {
        gap: 1.5rem;
      }
    }

    .card {
      @media (max-width: 1340px) {
        h4 {
          font-size: 1.2rem;
        }
        h5 {
          font-size: 1.25rem;
        }
      }
      @media (max-width: 1310px) {
        h4 {
          font-size: 1.1rem;
        }
        h5 {
          font-size: 1.23rem;
        }
      }
      @media (max-width: 1250px) {
        padding: 2.2rem;
        h4 {
          font-size: 1rem;
        }
        h5 {
          font-size: 1.2rem;
        }
      }
      @media (max-width: 1180px) {
        padding: 1.8rem;
      }
      @media (max-width: 1110px) {
        padding: 1.6rem;
        h4 {
          font-size: 0.9rem;
        }
        h5 {
          font-size: 1.1rem;
        }
      }
    }
  }

  .card {
    height: 14rem;

    svg {
      height: 16.25rem;
    }

    svg.stake {
      filter: drop-shadow(0px 0px 5px rgba(191, 245, 225, 0.7));
    }

    svg.h24 {
      filter: drop-shadow(0px 0px 5px rgba(6, 180, 255, 0.53));
    }

    svg.tcap {
      width: 3rem;
    }

    svg.weth {
      filter: drop-shadow(0px 0px 5px rgba(111, 19, 202, 0.53));
    }

    svg.wbtc {
      filter: drop-shadow(0px 0px 5px rgba(249, 252, 73, 0.42));
    }

    svg.dai {
      filter: drop-shadow(0px 0px 5px rgba(242, 128, 64, 0.42));
    }

    svg.ctx {
      width: 3rem;
    }
  }
}
