@import "./colors";

.header {
  padding-top: 1.25rem;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 3rem;

  .network-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding-left: 3rem;

    .dropdown {
      border-radius: 0.3rem;
      border: solid 1px $highlight;
      background-color: $darker;
    }
    .network-toggle {
      display: flex;
      h6 {
        line-height: 2rem;
      }
      svg { 
        margin-right: 12px;
      }
    }
    .dropdown-menu {
      background-color: $darker;
      margin-top: 1px !important;
      width: 200px;
      .dropdown-item {
        display: flex;
        padding: 0.5rem 1rem;
        h6 {
          line-height: 1.5rem;
          color: $white;
        }
        svg { 
          margin-right: 20px;
        }
      }
      .dropdown-item.active {
        background-color: rgba(121, 64, 242, 0.4);
      }
      .dropdown-item:hover {
        background-color: rgba(121, 64, 242, 0.3);
      }
    }
    .dropdown-toggle::after {
        position: absolute;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.5em solid;
        border-right: 0.5em solid transparent;
        border-bottom: 0;
        border-left: 0.5em solid transparent;
        margin-top: -17px;
        margin-left: 155px;
    }

    .btn {
      height: 3.2rem;
      width: 10.5rem;
      border-radius: 0.3rem;

      svg {
        height: 2rem;
      }

      .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;       
      }

      h6 {
        margin-bottom: 0rem;
      }
      svg {
        height: 2rem;
      }
      .optimism {
        width: 2rem;
      }
    }
    @media (max-width: 600px) {
      margin-bottom: 1rem;
      padding-left: 0rem;
      justify-content: center;
    }
  }

  h5 {
    margin-bottom: 0rem;
  }

  svg {
    vertical-align: top;
    height: 1.5rem;
  }

  .btn {
    background-color: $primary;
    width: 15rem;
    height: 3rem;
    border-radius: 0;
  }

  .info {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .btn-network-container{
    padding-left: 1rem;
  }

  .address {
    color: white;
    margin-top:-5px;
  }

  @media (max-width: 600px) {
    padding-right: 0rem;
    justify-content: center;
    margin-top: 70px;

    .network-container {
      .btn {
        width: 85%;
        .title {
          justify-content: center;
        }
        h6 {
          margin-left: 2rem;
        }
      }
    }
    .info {
      justify-content: center;
    }
  }
}
