@import "./colors";
@import "./fonts";

/* make the customizations */
$theme-colors: (
  "primary": $highlight,
  "secondary": $primary,
  "success": $green,
  "info": $blue,
  "danger": $pink,
  "warning": $orange,
  "dark": $dark,
  "light": $light,
);

@import "~bootstrap/scss/bootstrap";

p {
  color: $light;
}

h1,
h2,
h3,
h4,
h5 {
  color: $white;
}

body {
  background-color: $primary;
}

.btn.neon-highlight {
  -webkit-box-shadow: 0px 0px 3px 0px $highlight;
  box-shadow: 0px 0px 3px 0px $highlight;
}
.btn.neon-orange {
  -webkit-box-shadow: 0px 0px 3px 0px $orange;
  box-shadow: 0px 0px 3px 0px $orange;
}
.btn.neon-blue {
  -webkit-box-shadow: 0px 0px 3px 0px $blue;
  box-shadow: 0px 0px 3px 0px $blue;
}

.btn.neon-green {
  -webkit-box-shadow: 0px 0px 3px 0px $green;
  box-shadow: 0px 0px 3px 0px $green;
}

.btn.neon-pink {
  -webkit-box-shadow: 0px 0px 3px 0px $pink;
  box-shadow: 0px 0px 3px 0px $pink;
}

.number.neon-highlight {
  -webkit-text-shadow: 3px 0px 7px $highlight;
  text-shadow: 3px 0px 7px $highlight;
}
.number.neon-orange {
  -webkit-text-shadow: 3px 0px 7px $orange;
  text-shadow: 3px 0px 7px $orange;
}
.number.neon-blue {
  -webkit-text-shadow: 3px 0px 7px $blue;
  text-shadow: 3px 0px 7px $blue;
}

.number.neon-green {
  -webkit-text-shadow: 3px 0px 7px $green;
  text-shadow: 3px 0px 7px $green;
}

.number.neon-pink {
  -webkit-text-shadow: 3px 0px 7px $pink;
  text-shadow: 3px 0px 7px $pink;
}
