@import "./colors";
@import "./fonts";

.vault {
  padding-bottom: 0px;
  margin-bottom: 3rem;

  .lightning{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1;

    -webkit-animation: flash ease-out 7s infinite;
    -moz-animation: flash ease-out 7s infinite;
    animation: flash ease-out 7s infinite;
    animation-delay: 2s;
    @-webkit-keyframes flash {
      from { opacity: 0; } 
      92% { opacity: 0; }
      93% { opacity: 0.6; }
      94% { opacity: 0.2; }
      96% { opacity: 0.9; } 
      to { opacity: 0; }
    }

    @keyframes flash {
      from { opacity: 0; } 
        92% { opacity: 0; }
      93% { opacity: 0.6; }
        94% { opacity: 0.2; }
        96% { opacity: 1; } 
      to { opacity: 0; }
    }
    /*End! is that simple! */
  }
  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    padding: 1rem 3rem;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    padding: 3rem 1.5rem;
  }

  // Large devices (small laptos)
  @media (min-width: 1300px) {
    padding: 3rem 3rem;
  }

  .loading-container {
    padding-top: 12.5%;
  }

  .icon-container {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    margin-bottom: 2rem;
    svg {
      margin-top: 7px;
      vertical-align: top;
      width: 0.9rem;

      &.btc {
        margin-top: 10px;
        width: 1.5rem;
      }
      &.dai {
        margin-top: 12px;
        width: 1.3rem;
      }
      &.aave {
        margin-top: 10px;
        width: 1.5rem;
      }
      &.link {
        margin-top: 3px;
        width: 1.5rem;
      }
      &.uni {
        margin-top: 3px;
        width: 1.7rem;
      }
    }

    .btn-group {
      width: fit-content;
      border: 1px solid #dfd1ea;
      border-radius: 5px;
      margin-bottom: 0rem !important;
      margin-right: 0.5rem;
      input[type="radio"] {
        display: none;
      }
      .btn-secondary {
        margin-bottom: 0rem;
        font-size: 0.8rem;
        background-color: #281e31;
      }
      .btn-secondary.active {
        background-color: $neon-highlight;
      }
    }
  }

  .alert-warning {
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 0.2rem 1rem;
    height: 2rem;
    width: 70%;
  }

  .dd-collateral {
    display: flex;
    align-items: center;
    h6 {
      color: $white;
      margin: 0px;
    }
    .balance-container {
      display: flex;
      align-items: center;
      margin: 0rem 1rem;
      color: $light;
      .number {
        margin-bottom: 0rem;
        color: $light;
      }
    }
    .dropdown {
      padding-left: 0.5rem;
      .btn {
        margin-top: 0rem;
      }
      .dropdown-toggle {
        display: flex;
        height: 2.1rem;
        width: 150px;
        background-color: #281e31;
        border: 1px solid #dfd1ea;
        border-radius: 5px;
        
        div {
          display: flex;
          align-items: center;
          flex: 1;
        }
        span {
          font-size: 0.8rem;    
        }
        svg {
          height: 20px;  
          margin-right: 5px;
        }
      }
      .dropdown-toggle::after {
        position: absolute;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: "";
        border-top: 0.4em solid;
        border-right: 0.4em solid transparent;
        border-bottom: 0;
        border-left: 0.4em solid transparent;
        margin-top: 7px;
        margin-left: 65%;
      }
      .dropdown-menu {
        width: 85%;
        margin-top: 3px !important;
        margin-right: 1rem;
        background-color: #211828;

        .dropdown-item {
          color: $white;
        }
        .dropdown-item.active {
          background-color: rgba(121, 64, 242, 0.4);
        }
        .dropdown-item:hover {
          background-color: rgba(121, 64, 242, 0.3);
        }
      }
    }
  }

  .collateral-balance {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    h4 {
      margin-bottom: 0rem;
    }
    p {
      margin-bottom: 0rem;
      text-align: right;
    }
    .number {
      color: $light;
      font-size: 1.1rem;
    }
    .amount {
      display: flex;
      align-items: center;
      .number {
        color: $white;
      }
    }
    svg.small {
      vertical-align: top;
      width: 0.7rem;
      filter: brightness(1118%) drop-shadow(0px 0px 5px $highlight);
      @supports (-webkit-touch-callout: none) {
        height: intrinsic;
      }

      &.btc.small {
        margin-top: 0px;
        width: 1.5rem;
      }
      &.dai.small {
        margin-top: 0px;
        width: 1.2rem;
        filter: drop-shadow(0px 0px 5px $highlight);
      }
      &.aave.small {
        margin-top: 2px;
        width: 1.5rem;
        filter: drop-shadow(0px 0px 5px $highlight);
      }
      &.link.small {
        margin-top: 7px;
        width: 1.4rem;
        filter: drop-shadow(0px 0px 5px $highlight);
      }
      &.uni.small {
        margin-top: -5px;
        width: 1.5rem;
        filter: drop-shadow(0px 0px 5px $highlight);
      }
      &.snx.small {
        margin-top: -3px;
        width: 1.3rem;
        filter: drop-shadow(0px 0px 5px $highlight);
      }
      &.usdc.small {
        margin-top: -5px;
        width: 1.3rem;
      }
    }
  }

  select {
    font-size: 1.2rem;
    font-family: "Nineteen Ninety Seven";
    background: none;
    border: none;
    color: $white;
    -webkit-appearance: none;
    appearance: none;
    width: 7.8rem;
    background: url("../assets/images/select-arrow.svg") 96% / 15% no-repeat;
    outline: none;

    &::-ms-expand {
      display: none;
    }

    &:focus {
      outline: none;
    }

    &.form-control:focus {
      color: $white;
      background: url("../assets/images/select-arrow.svg") 96% / 15% no-repeat;
      outline: 0;
      box-shadow: 0 0 0 0 rgba(164, 64, 242, 0);
    }

    &.form-control {
      padding: 0;
    }

    option {
      background-color: $primary;
      border: none;
      color: $white;
    }
  }

  .action-title {
    margin-top: 1rem;
    margin-bottom: 2.25rem;
  }

  .pre-actions { 
    p {
      width: 30rem;
    }
    .btn {
      width: 13.4375rem;
      height: 3.875rem;
      border-radius: 1px;
      margin-top: 2rem;
    }
    .card {
      width: 35rem;
      padding: 1rem 0.5rem;
    }
    .card-header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 1.5rem;
    }
  }

  .actions-container {
    display: flex;
    margin-top: 1rem;
    column-gap: 2rem;
    p {
      width: 100%;
    }
    .card {
      padding: 2rem;
    }
    .card-header  {
      padding: 0rem;
      padding-bottom: 2rem;
    }
    .card-body {
      padding: 0rem;
    }

    .info {
      display: flex;
      align-items: top;
      height: 8rem;
      div {
        width: 100%;
      }
      p {
        text-align: right;
      }      
      .amount {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
    } 

    .form-card {
      .card {
        padding: 0;        

        svg {
          //margin-top: -5px;
          vertical-align: top;
          width: 0.8rem;
          filter: brightness(1118%) drop-shadow(0px 0px 5px rgba(6, 52, 255, 0.53));
          @supports (-webkit-touch-callout: none) {
            height: intrinsic;
          }

          &.tcap-neon {
            height: 1.8rem;
            width: 2rem;
            margin-top: 0px;
            filter: none;
          }
          &.btc {
            margin-top: 0px;
            width: 1.8rem;
          }
          &.dai {
            margin-top: 0px;
            width: 1.5rem;
            filter: none;
            margin-right: 2px;
            filter: drop-shadow(0px 0px 5px $dark-blue);
          }

          &.polygon {
            margin-top: 0px;
            width: 1.5rem;
          }  
          &.aave {
            width: 1.5rem;
            margin-top: 2px;
          }
          &.link {
            width: 1.6rem;
            margin-top: -3px;
          }
          &.uni {
            width: 1.6rem;
            margin-top: -4px;
          }
          &.snx {
            width: 1.5rem;
            margin-top: -3px;
          }
          &.usdc {
            margin-top: 5px;
            width: 1.7rem;
          }
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        background-color: $darker;
        border-radius: 5px;
        // border-bottom: 1px solid $dark;
        padding: 1.5rem;
        margin-bottom: 1rem;

        &-values {
          display: flex;
          flex-direction: row;
          padding: 0.5rem;
          margin-top: 0.7rem;
          border: 0.7px solid $dark;
          border-radius: 5px;
          background-color: #281e31;
        }
        p {
          font-size: 1.1rem;
          margin-bottom: 0rem;
        }
        h4 {
          font-size: 1.2rem;
          padding-bottom: 0;
          margin-bottom: 0;
        }
        .amount {
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
        svg {
          //margin-top: -5px;
          vertical-align: top;
          width: 0.8rem;
          filter: brightness(1118%) drop-shadow(0px 0px 5px rgba(6, 52, 255, 0.53));
          @supports (-webkit-touch-callout: none) {
            height: intrinsic;
          }

          &.tcap-neon {
            margin-top: 0px;
            filter: none;
            width: 2rem;
          }
        }
      }
      form {
        padding: 1rem 1.5rem 1rem 1.5rem;
        height: 21rem;
        label {
          font-family: "Nineteen Ninety Seven";
          color: $white;

          &.max {
            float: right;
            font-size: 0.85rem;
            @media (min-width: 992px) and (max-width: 1300px) {
              font-size: 0.9rem;
            }
            a {
              color: $green;

              &.orange {
                color: $orange;
              }
            }
          }
        }

        .input-group {
          padding: 0.7rem 0.5rem;
          border: 1px solid $dark;
          border-radius: 5px;
          background-color: #281e31;
        }
        .form-group.remove {
          margin-top: 3rem;
        }
        .text-muted {
          position: absolute;
          text-align: right;
          font-size: 0.85rem;
          margin-top: -1.8rem;
          margin-left: 1rem;
        }

        .burn-fee.text-muted {
          position: relative;
          text-align: right;
          margin-top: 0.5rem;
          margin-right: 0.5rem;
          margin-bottom: 0;
          padding-bottom: 0;
          font-size: 0.8rem;
          color: $off-white !important;
        }

        input[type="number"] {
          font-size: 1.1rem;
          background: no-repeat;
          border: 1px;
          color: $white;
          height: 2rem;
          margin-right: 5px;
          background-color: $darker;
          border-radius: 5px;
        }
        input[type="number"]:focus {
          box-shadow: inset -1px -5px 15px -19px $green;
        }

        .btn {
          background-color: $darker;
          width: 6rem;
          height: 3.5rem;
          border-radius: 4px;
          font-size: 0.85rem;
        }
        
      }
    }

    .balance {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .card {
        min-height: 12rem;
      }
      &-info {
        display: flex;
        flex-direction: row;
      }      

      .eth {
        filter: drop-shadow(0px 0px 15px rgba(111, 19, 202, 1));
      }

      .ratio {
        width: 1.9375rem;
        filter: drop-shadow(0px 0px 15px rgba(15, 217, 255, 0.53));
      }

      .info-data {
        display: flex;
        flex-direction: column;
      }

      .info {
        margin-top: 1rem;

        .btn {
          margin-top: 0.7rem;
          height: 40px;
        }

        p,
        h4 {
          padding-bottom: 0;
          margin-bottom: 0;
        }
        .amount h4 {
          margin-bottom: 0.5rem;
        }
      }

      svg.small {
        vertical-align: top;
        margin-top: -5px;
        width: 0.8rem;
        &.btc.small {
          margin-top: -5px;
          width: 1.8rem;
        }

        &.dai.small {
          margin-top: 0px;
          width: 1.2rem;
          filter: drop-shadow(0px 0px 5px $highlight);
        }
        &.aave.small {
          margin-top: -5px;
          width: 1.7rem;
          filter: drop-shadow(0px 0px 5px $highlight);
        }
        &.link.small {
          margin-top: 0px;
          width: 1.7rem;
          filter: drop-shadow(0px 0px 5px $highlight);
        }
        &.uni.small {
          margin-top: -5px;
          width: 1.7rem;
          filter: drop-shadow(0px 0px 5px $highlight);
        }
        &.snx.small {
          margin-top: -3px;
          width: 1.5rem;
          filter: drop-shadow(0px 0px 5px $highlight);
        }
        &.usdc.small {
          margin-top: -5px;
          width: 1.7rem;
        }
      }
    }

    .tcap {
      .card {
        min-height: 26rem;
      }
    }

    .token-icon-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      min-height: 0rem;
      min-width: 0rem;
    }

    .test {
      display: flex;
      flex-direction: column;
      .test2 {
        display: flex;
        flex-direction: row;
      }
    }
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    .actions-container {
      // display: grid;
      // grid-template-columns: auto;
      margin-bottom: 2rem;
    }

    .balance {
      grid-row-gap: 0rem;
      row-gap: 0rem;
    }

    .card {
      margin-bottom: 2rem;
    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .actions-container {
      // display: grid;
      // grid-template-columns: auto 33% 33%;
      margin-bottom: 0rem;
    }
    .balance {
      row-gap: 1.5rem;
    }

    .card {
      margin-bottom: 0rem;
    }
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    .actions-container {
      column-gap: 1rem;
      .balance {
        .card {
          padding: 2rem 1.2rem;
        }
        h4 {
          font-size: 1.35rem;
        }
        p {
          font-size: 0.9rem;
        }
      }
      .form-card {
        form {
          padding: 2rem 1.2rem 0rem 1.2rem;
          label {
            font-size: 0.87rem;
          }
        }
        .card {
          .info {
            padding: 2rem 1rem;
          }
        }
      }
      @media (max-width: 1140px) {
        .form-group {
          span {
            font-size: 0.9rem;
          }
        }
        .form-card {
          h4 {
            font-size: 1.32rem;
          }
        }
        .balance {
          h4 {
            font-size: 1.25rem;
          }
        }
      }
    }
  }

  @media (max-height: 820px) and (min-width: 992px) {
    .icon-container {
      margin-top: 1rem;
    }
    .actions-container {
      margin-top: 0rem;

      .card {
        padding: 1rem 1rem;
      }
      .form-card {
        .card {
          min-height: 23rem;

          .info {
            padding-top: 1.3rem;
            padding-bottom: 1.3rem;
          }
        }
        form {
          padding-top: 1.5rem;
          .remove {
            margin-top: 2.7rem;
          }
        }
      }
      .balance {
        row-gap: 1rem;
        .card {
          min-height: 11.17rem;
        }
      }
    }
  }

  @media (max-width: 730px) {
    padding-top: 4rem;
    padding-left: 1rem;

    .pre-actions {
      p {
        width: 20rem;
      }
    }

    @media (max-width: 575px) {
      .actions-container {
        .card {
          padding: 2rem 1.5rem;
        }
        .form-card {
          .card {
            .info {
              padding: 2rem 1rem;
            }
          }
        }
        @media (max-width: 380px) {
          .card {
            padding: 2rem 0.9rem;
          }
        }
      }

      .card {
        margin-bottom: 2rem;
      }
    }
  }
}
