@import "./colors";

.sidebar {
  width: 5rem;
  height: 100%;
  background-color: $darker;
  border-right: solid 2px $dark;
  position: fixed;
  top: 0px;
  flex-direction: column;
  flex-wrap: nowrap;

  .cls-logo-1 {
    fill: $darker;
  }

  .nav-item {
    height: 5.5rem;
    width: 100%;

    svg {
      width: 2rem;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    a svg {
      &:hover {
        -webkit-filter: drop-shadow(3px 3px 2px $highlight);
        filter: brightness(1118%) drop-shadow(0px 0px 12px $highlight);
      }
    }

    a svg.governance {
      width: 1.7rem;
    }

    a.active svg {
      -webkit-filter: drop-shadow(3px 3px 2px $highlight);
      filter: brightness(1118%) drop-shadow(0px 0px 12px $highlight);
    }
  }

  &.mobile {
    z-index: 10;
    top: 0;

    &.slide-out {
      left: -5rem;
      -webkit-transition: left 0.3s ease-in;
      transition: left 0.3s ease-in;
    }

    &.slide-in {
      left: 0px;
      -webkit-transition: right 0.4s ease-in;
      transition: right 0.4s ease-in;
    }
  }
}
