@import "./colors";

.topbar {
  height: 3.1rem;
  width: 100%;
  background-color: $darker;
  border-bottom: solid 1px $dark;
  flex-direction: row;
  flex-wrap: nowrap;
  position: fixed;
  top: 0px;
  z-index: 9;

  .menu.nav-item {
    width: 25%;
    padding-left: 8px;
  }
  .logo.nav-item {
    width: 50%;
  }
  .settings.nav-item {
    display: none;
    justify-content: flex-end;
    width: 25%;
    padding-right: 10px;
  }

  .nav-item {
    width: auto;
    height: 100%;

    svg {
      height: 2.3rem;
      margin-top: 0.4rem;
      fill: $white;

      .cls-2 {
        fill: $white;
      }
      .cls-3 {
        fill: $highlight;
      }
      .cls-4 {
        fill: $green;
      }
    }
  }

  &.slide-out {
    left: -45rem;
    transition: left 0.7s ease-out;
  }

  &.slide-in {
    left: 0rem;
    transition: left 0.7s ease-out;
  }

  &.hidden {
    display: none;
  }
}

.top-settings {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
  background: $darkest;
  margin-top: 3.3rem;
  .info-address {
    display: flex;
    flex-direction: row;
    padding: 1rem;

    .avatar {
      height: 35px;
      width: 35px;
      border-radius: 50%;
    }
    .address {
      color: $white;
    }
  }
  .logout {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    h6 {
      margin-left: 10px;
    }
  }
}
