@import "./colors";
@import "./fonts";

.vault {
  padding-bottom: 0px;
  margin-bottom: 3rem;

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    padding: 1rem 3rem;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    padding: 1rem 1.5rem;
  }

  // Large devices (small laptos)
  @media (min-width: 1300px) {
    padding: 1rem 3rem;
  }

  .loading-container {
    padding-top: 12.5%;
  }

  .icon-container {
    margin-top: 1.5rem;

    svg {
      margin-top: 7px;
      vertical-align: top;
      width: 0.9rem;

      &.btc {
        margin-top: 10px;
        width: 1.5rem;
      }
      &.dai {
        margin-top: 12px;
        width: 1.3rem;
      }
      &.aave {
        margin-top: 10px;
        width: 1.5rem;
      }
      &.link {
        margin-top: 3px;
        width: 1.5rem;
      }
    }

    .select-container {
      display: inline-block;
      margin-left: 1rem;

      p {
        margin-left: -2rem;
      }
    }
  }

  select {
    font-size: 1.2rem;
    font-family: "Nineteen Ninety Seven";
    background: none;
    border: none;
    color: $white;
    -webkit-appearance: none;
    appearance: none;
    width: 7rem;
    background: url("../assets/images/select-arrow.svg") 96% / 15% no-repeat;
    outline: none;

    &::-ms-expand {
      display: none;
    }

    &:focus {
      outline: none;
    }

    &.form-control:focus {
      color: $white;
      background: url("../assets/images/select-arrow.svg") 96% / 15% no-repeat;
      outline: 0;
      box-shadow: 0 0 0 0 rgba(164, 64, 242, 0);
    }

    &.form-control {
      padding: 0;
    }

    option {
      background-color: $primary;
      border: none;
      color: $white;
    }
  }

  .action-title {
    margin-top: 1rem;
    margin-bottom: 2.25rem;
  }

  .pre-actions {
    p {
      width: 30rem;
    }

    .btn {
      width: 13.4375rem;
      height: 3.875rem;
      border-radius: 1px;
      margin-top: 2rem;
    }
  }

  .actions-container {
    margin-top: 1rem;
    column-gap: 2rem;

    p {
      width: 100%;
    }

    .card {
      padding: 2rem;
    }

    .info {
      display: flex;
      align-items: top;

      div {
        width: 100%;
      }

      p {
        text-align: right;
      }

      .amount {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
      }
    }

    .form-card {
      .card {
        min-height: 26rem;
        padding: 0;

        .info {
          border-bottom: 1px solid $dark;
          padding: 2rem;

          p,
          h4 {
            padding-bottom: 0;
            margin-bottom: 0;
          }

          .amount {
            display: flex;
            justify-content: flex-end;
          }
        }

        svg {
          //margin-top: -5px;
          vertical-align: top;
          width: 0.8rem;
          filter: brightness(1118%) drop-shadow(0px 0px 5px rgba(6, 52, 255, 0.53));
          @supports (-webkit-touch-callout: none) {
            height: intrinsic;
          }

          &.tcap-neon {
            margin-top: 0px;
            filter: none;
            width: 2rem;
          }

          &.btc {
            margin-top: 0px;
            width: 1.8rem;
          }

          &.dai {
            margin-top: 0px;
            width: 1.5rem;
            filter: none;
            margin-right: 2px;
            filter: drop-shadow(0px 0px 5px $dark-blue);
          }
        }
      }

      form {
        padding: 2rem 2rem 0rem 2rem;

        label {
          font-family: "Nineteen Ninety Seven";
          color: $white;

          &.max {
            float: right;
            @media (min-width: 992px) and (max-width: 1300px) {
              font-size: 0.9rem;
            }
            a {
              color: $green;

              &.orange {
                color: $orange;
              }
            }
          }
        }

        .text-muted {
          text-align: right;
          font-size: 1rem;
          margin-top: -2.375rem;
          margin-right: 4.375rem;
        }

        .burn-fee.text-muted {
          text-align: right;
          font-size: 1rem;
          margin-top: 1rem;
          margin-right: 0;
          margin-bottom: 0;
          padding-bottom: 0;
          font-size: 0.8rem;
          color: $off-white !important;
        }

        input[type="text"] {
          border-radius: 1px;
          background: no-repeat;
          border-color: $dark;
          color: $white;
          height: 3.375rem;
        }

        .btn {
          background-color: $darker;
          width: 3.375rem;
          border-radius: 1px;
        }

        .remove {
          margin-top: 3.5rem;
        }
      }
    }

    .balance {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .card {
        min-height: 12rem;
      }

      .eth {
        filter: drop-shadow(0px 0px 15px rgba(111, 19, 202, 1));
      }

      .ratio {
        width: 1.9375rem;
        filter: drop-shadow(0px 0px 15px rgba(15, 217, 255, 0.53));
      }

      .info-data {
        display: flex;
        flex-direction: column;
      }

      .info {
        margin-top: 1rem;

        .btn {
          margin-top: 0.7rem;
          height: 40px;
        }

        p,
        h4 {
          padding-bottom: 0;
          margin-bottom: 0;
        }
        .amount h4 {
          margin-bottom: 0.5rem;
        }
      }

      svg.small {
        @supports not (-webkit-touch-callout: none) {
          margin-top: -5px;
        }
        vertical-align: top;
        width: 0.8rem;
        filter: brightness(1118%) drop-shadow(0px 0px 5px $highlight);
        @supports (-webkit-touch-callout: none) {
          height: intrinsic;
        }

        &.btc.small {
          margin-top: -5px;
          width: 1.8rem;
        }

        &.dai.small {
          margin-top: -5px;
          width: 1.5rem;
          filter: drop-shadow(0px 0px 5px $highlight);
        }
      }
    }

    .tcap {
      .card {
        min-height: 26rem;
      }
    }
    .token-icon-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      min-height: 0rem;
      min-width: 0rem;
    }
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    .actions-container {
      display: grid;
      grid-template-columns: auto;
      margin-bottom: 2rem;
    }

    .balance {
      grid-row-gap: 0rem;
      row-gap: 0rem;
    }

    .card {
      margin-bottom: 2rem;
    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .actions-container {
      display: grid;
      grid-template-columns: auto 33% 33%;
      margin-bottom: 0rem;
    }
    .balance {
      row-gap: 2rem;
    }

    .card {
      margin-bottom: 0rem;
    }
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    .actions-container {
      column-gap: 1rem;
      .balance {
        .card {
          padding: 2rem 1.2rem;
        }
        h4 {
          font-size: 1.35rem;
        }
        p {
          font-size: 0.9rem;
        }
      }
      .form-card {
        form {
          padding: 2rem 1.2rem 0rem 1.2rem;
          label {
            font-size: 0.87rem;
          }
        }
        .card {
          .info {
            padding: 2rem 1rem;
          }
        }
      }
      @media (max-width: 1140px) {
        .form-group {
          span {
            font-size: 0.9rem;
          }
        }
        .form-card {
          h4 {
            font-size: 1.32rem;
          }
        }
        .balance {
          h4 {
            font-size: 1.25rem;
          }
        }
      }
    }
  }

  @media (max-height: 820px) and (min-width: 992px) {
    .icon-container {
      margin-top: 1rem;
    }
    .actions-container {
      margin-top: 0rem;

      .card {
        padding: 1rem 1rem;
      }
      .form-card {
        .card {
          min-height: 23rem;

          .info {
            padding-top: 1.3rem;
            padding-bottom: 1.3rem;
          }
        }
        form {
          padding-top: 1.5rem;
          .remove {
            margin-top: 2.7rem;
          }
        }
      }
      .balance {
        row-gap: 1rem;
        .card {
          min-height: 11.17rem;
        }
      }
    }
  }

  @media (max-width: 730px) {
    padding-top: 4rem;
    padding-left: 1rem;

    .pre-actions {
      p {
        width: 20rem;
      }
    }

    @media (max-width: 575px) {
      .actions-container {
        .card {
          padding: 2rem 1.5rem;
        }
        .form-card {
          .card {
            .info {
              padding: 2rem 1rem;
            }
          }
        }
        @media (max-width: 380px) {
          .card {
            padding: 2rem 0.9rem;
          }
        }
      }

      .card {
        margin-bottom: 2rem;
      }
    }
  }
}
