@import "./colors";
@import "./fonts";

.vault {
  padding: 1rem 3rem;
  padding-bottom: 0px;

  .icon-container {
    margin-top: 1.5rem;

    svg {
      margin-top: 7px;
      vertical-align: top;
      width: 0.9rem;

      &.btc {
        margin-top: 10px;
        width: 1.5rem;
      }
      &.dai {
        margin-top: 12px;
        width: 1.3rem;
      }
    }

    .select-container {
      display: inline-block;
      margin-left: 1rem;
    }
  }

  select {
    font-size: 1.2rem;
    font-family: "Nineteen Ninety Seven";
    background: none;
    border: none;
    color: $white;
    -webkit-appearance: none;
    appearance: none;
    width: 7rem;
    background: url("../assets/images/select-arrow.svg") 96% / 15% no-repeat;
    outline: none;

    &::-ms-expand {
      display: none;
    }

    &:focus {
      outline: none;
    }

    &.form-control:focus {
      color: $white;
      background: url("../assets/images/select-arrow.svg") 96% / 15% no-repeat;
      outline: 0;
      box-shadow: 0 0 0 0 rgba(164, 64, 242, 0);
    }

    &.form-control {
      padding: 0;
    }

    option {
      background-color: $primary;
      border: none;
      color: $white;
    }
  }

  .action-title {
    margin-top: 1rem;
    margin-bottom: 2.25rem;
  }

  .pre-actions {
    p {
      width: 30rem;
    }

    .btn {
      width: 13.4375rem;
      height: 3.875rem;
      border-radius: 1px;
      margin-top: 2rem;
    }
  }

  .actions-container {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 33% auto 33%;
    column-gap: 2rem;

    p {
      width: 100%;
    }

    .card {
      padding: 2rem;
    }

    .info {
      display: flex;
      align-items: top;

      div {
        width: 100%;
      }

      p {
        text-align: right;
      }

      .amount {
        display: flex;
        justify-content: flex-end;
      }
    }

    .form-card {
      .card {
        min-height: 26rem;
        padding: 0;

        .info {
          border-bottom: 1px solid $dark;
          padding: 2rem;

          p,
          h4 {
            padding-bottom: 0;
            margin-bottom: 0;
          }

          .amount {
            display: flex;
            justify-content: flex-end;
          }
        }

        svg {
          // margin-top: -5px;
          vertical-align: top;
          width: 0.8rem;
          filter: brightness(1118%) drop-shadow(0px 0px 5px rgba(6, 52, 255, 0.53));

          &.tcap-neon {
            margin-top: 0px;
            filter: none;
            width: 2rem;
          }

          &.btc {
            margin-top: 0px;
            width: 1.8rem;
          }

          &.dai {
            margin-top: 0px;
            width: 1.5rem;
            filter: none;
            margin-right: 2px;
            filter: drop-shadow(0px 0px 5px $dark-blue);
          }
        }
      }

      form {
        padding: 2rem 2rem 0rem 2rem;

        label {
          font-family: "Nineteen Ninety Seven";
          color: $white;
        }

        .text-muted {
          text-align: right;
          font-size: 1rem;
          margin-top: -2.375rem;
          margin-right: 4.375rem;
        }

        .burn-fee.text-muted {
          text-align: right;
          font-size: 1rem;
          margin-top: 1rem;
          margin-right: 0;
          margin-bottom: 0;
          padding-bottom: 0;
          font-size: 0.8rem;
          color: $off-white !important;
        }

        input[type="text"] {
          border-radius: 1px;
          background: no-repeat;
          border-color: $dark;
          color: $white;
          height: 3.375rem;
        }

        .btn {
          background-color: $darker;
          width: 3.375rem;
          border-radius: 1px;
        }

        .remove {
          margin-top: 3.5rem;
        }
      }
    }

    .balance {
      display: flex;
      flex-direction: column;
      row-gap: 2rem;
      .card {
        min-height: 12rem;
      }

      .eth {
        filter: drop-shadow(0px 0px 15px rgba(111, 19, 202, 1));
      }

      .ratio {
        width: 1.9375rem;
        filter: drop-shadow(0px 0px 15px rgba(15, 217, 255, 0.53));
      }

      .info {
        margin-top: 1rem;

        .btn {
          margin-top: 0.7rem;
          height: 40px;
        }

        p,
        h4 {
          padding-bottom: 0;
          margin-bottom: 0;
        }
        .amount h4 {
          margin-bottom: 0.5rem;
        }
      }

      svg.small {
        margin-top: -5px;
        vertical-align: top;
        width: 0.8rem;
        filter: brightness(1118%) drop-shadow(0px 0px 5px $highlight);

        &.btc.small {
          margin-top: -5px;
          width: 1.8rem;
        }

        &.dai.small {
          margin-top: -5px;
          width: 1.5rem;
          filter: drop-shadow(0px 0px 5px $highlight);
        }
      }
    }

    .tcap {
      .card {
        min-height: 26rem;
      }
    }
  }
}
