@import "./colors";
@import "./fonts";

.welcome {
  padding: 5rem 3rem;
  padding-bottom: 2rem;

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    .token-price {
      margin-top: 2rem;
    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .token-price {
      margin-top: 0rem;
    }
  }

  h2 {
    font-size: 1.75rem;
    margin-bottom: 0.875rem;

    @media (max-width: 1275px) {
      font-size: 1.6rem;
    }
    @media (max-width: 1180px) {
      font-size: 1.3rem;
    }
    @media (max-width: 1100px) {
      font-size: 1.3rem;
    }
  }

  .btn {
    background-color: $darker;
    width: 10rem;
    height: 3rem;
    margin-right: 30px;

    &.question {
      border-radius: 2px;
      width: 20px;
      height: 20px;
      margin-right: 0px;
      font-size: 10px;
      padding: 2px;
      margin-left: 5px;
    }
  }

  #connect {
    background-color: $pink;
    width: 15rem;
    height: 3rem;
    border-radius: 0;
  }

  .card-wrapper {
    margin-top: 2.9375rem;
    h2 {
      font-size: 1.375rem;
      margin-bottom: 1.5625rem;
    }

    h3 {
      font-size: 1.625rem;
      @media (max-width: 450px) {
        font-size: 1.45rem;
      }
    }

    p {
      font-size: 0.875;
    }

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
      .use-tcap {
        margin-top: 2rem;
        margin-bottom: 4rem;
      }
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
      .use-tcap {
        margin-top: 0rem;
        margin-bottom: 0rem;
      }
    }

    .card {
      padding: 3.125rem 2.8125rem;
      min-height: 20.1875rem;
      @media (max-width: 400px) {
        padding: 3.125rem 2rem;
      }

      .cls-1 {
        fill: $darker;
      }
      b {
        font-family: "Nineteen Ninety Seven";
        color: $purple;
      }
      p {
        margin-bottom: 1.5rem;
      }
      .row {
        margin-top: 0.5rem;
      }

      &.balance {
        .row {
          margin-top: 2rem;
          @media (min-width: 1100px) and (max-width: 1350px) {
            margin-top: 1rem;
          }
        }
        .col {
          margin-top: 1rem;
        }
        .tcap-balance {
          display: flex;
        }

        svg {
          height: 2rem;
          margin-right: 0.5rem;
          filter: drop-shadow(0px 4px 13px $dark-blue);

          &.tcap-neon {
            filter: none;
          }
        }

        h3 {
          display: flex;
          align-items: center;
        }

        p {
          margin-top: 1rem;
        }

        p.usd-balance {
          margin-bottom: 0rem;
          margin-top: 0.2rem;
        }
        p.title {
          margin-left: 0.35rem;
        }
      }

      &.diamond {
        background-image: url("../assets/images/welcome/diamond.svg");
        background-repeat: no-repeat;
        background-position: right bottom;

        p {
          width: 70%;
        }
        .btn {
          width: 11.0625rem;
          margin-bottom: 0.8rem;

          &.neon-green {
            box-shadow: 0px 0px 39px -6px rgba(63, 217, 180, 0.4);
          }
          &.neon-blue {
            box-shadow: 0px 0px 39px -6px rgba(15, 217, 255, 0.4);
          }
        }
      }
    }
  }

  @media (max-height: 820px) and (min-width: 992px) {
    padding-top: 1rem;
    .card-wrapper {
      margin-top: 1.5rem;
      .card {
        padding: 2rem 2.8125rem;
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1280px) {
    .card-wrapper {
      .card {
        padding-left: 2rem;
        padding-right: 2rem;
      }

      @media (max-width: 1200px) {
        h3 {
          font-size: 1.5rem;
        }
      }
    }
  }

  @media (max-width: 600px) {
    padding: 5rem 1.2rem;

    .card-wrapper {
      .card {
        margin-bottom: 1.2rem;

        &.diamond {
          p {
            width: 85%;
          }
        }
      }
    }
  }
}
