@import "./colors";
@import "./fonts";

.welcome {
  .btn {
    color: $white;
    background-color: $primary;
    font-family: "Nineteen Ninety Seven";
    border-width: 1px;
    width: 10rem;
    height: 3rem;
    margin-right: 30px;
  }
}
